language: node_js

node_js:
  - node
  - '7'
  - '6'
  - '5'
  - '4'

install:
  - npm install

script:
  - npm run coverage

after_success:
  - bash <(curl -s https://codecov.io/bash)

deploy:
  provider: npm
  email: trevinhofmann@gmail.com
  api_key:
    secure: ZJp+3/RXlvqp1ZdmHQsNmjavnuB20QDZN6FktdHgR9PSvwKUT0KOa/A8lrrD5AesZilDv9capdHYS78O5N2cJ+Y3cnclpIK/VSZhSUZ5FoA7bimlB0VRvNAXTCwuhF2ifV7WpZRLK+2JmsDdMhVpIVHSElYUy2p29f6dOtrcvxCtYsi1lwbXPt5BrJwm28+NDbXrRHwy4vecrNFDSYrmS0SrOAaOD0GBRD+X6hYiPfbku7/L8Tu0RM6tF5WL45IiDFIOSCxF+6/MHSYSzqe1Kocx+4sGVBvkubdJxCswpyFJHVyGyPX6rlaaDfd7CAKd9sgpGzITAeWWOHn1prDy5FC9Fpo260hpLBuwc1KubT9gYHUHA58YXCvaBJjTQftd2kokPo+WYsmWjYLWsW2R/vq76nN+gbq79pD8ld3ulNvX7gu6XHaDleukNNaZTSAHos2VrBuJsevp8NjR5GymeQmI3StjscJ92A1RQOCjMES+BmMg7FFQ9UripeoEhZBvhnoodPh51NZFy4N2TCBmVU4wVSFK5wQvfGqDeTmw+Y+1tsUvm2hoHv1KFnsQDL3SGtOPjfKvGtkcTY5xygHpvwWFb7n1AqAxDA1NnokOM1VvdVX3c7UuCQzv8OObXzmHcAr+47J6BvfqBoNG4mhn9rBOSMO1PYyohikhaFdmApM=
  on:
    tags: true
    node: '6'
